//Vuetify override
//? pricing tabs 
$tabs-item-hover-opacity: 0;

//Colors
$primary: #1fa6fa;

$green_text:#07850F;

$green_background:#00BE33;

$blue_background:#1CA7FB;

$grey_background: #F2F5F8;

$light_border: #F2F5F8;

$border:#E5E5E5;

$separator: #E1E1E1;

$soft_text: #767676;

//Spacing
$text_heading_marging_top:70px;
$text_heading_marging_bottom:30px;